<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href='style.css'/>
    <title>Raspberry Pi Dashboard</title>
</head>
<body>
    <input type="button" value="button1" onclick="send(1)">
    <input type="button" value="button2" onclick="send(2)">
    <input type="button" value="button3" onclick="send(3)">
    <input type="button" value="button4" onclick="send(4)">
    <input type="button" value="button5" onclick="send(5)">
    <script>
        const ws = new WebSocket('ws://192.168.1.5:8080');
        function send(num){
            ws.send(num);
            console.log(num);
        }
    </script>

</body>
</html>
