<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href='../static/style.css'/>
    <title>Dashboard</title>
</head>
<body>
    <div class="header"><h1>Rover Dashboard</h1></div>
    <div class="navbar">
    <a href="index.html">Main</a>
    <a>|</a>
    <a href="GPS.html">Map</a>
    </div>
    <div class="container">
        <div class="left">
            <div class="col-lg-8  offset-lg-2">
                <img src="{{ url_for('videoStream') }}">
            </div>

        </div>
        <div class="right">
            <div class="motors">
                <input class="LTurn" type="button" onmousedown="send(7+':'+0)" onmouseup="send(1+':'+0)">
                <input class="Forward" type="button" onmousedown="send(2+':'+0)" onmouseup="send(1+':'+0)">
                <input class="RTurn" type="button" onmousedown="send(6+':'+0)" onmouseup="send(1+':'+0)">
                <input class="Left" type="button" onmousedown="send(4+':'+0)" onmouseup="send(1+':'+0)">
                <input class="Backward" type="button" onmousedown="send(3+':'+0)" onmouseup="send(1+':'+0)">
                <input class="Right" type="button" onmousedown="send(5+':'+0)" onmouseup="send(1+':'+0)">
            </div>
            <div class="sliders">
                <h3>Speed</h3>
                <input type="range" min="0" max="10" value="5" class="slider" id="Speed" onchange="send(12+':'+value)">
                <h3>Arm X</h3>
                <input type="range" min="0" max="100" value="50" class="slider" id="LeftRight" onchange="send(8+':'+value)">
                <h3>Arm Y</h3>
                <input type="range" min="0" max="100" value="50" class="slider" id="UpDown" onchange="send(9+':'+value)">
                <h3>Claw</h3>
                <input type="range" min="0" max="100" value="50" class="slider" id="OpenClose" onchange="send(10+':'+value)">
                <h3>Camera</h3>
                <input type="range" min="0" max="100" value="50" class="slider" id="Camera" onchange="send(11+':'+value)">
            </div>
        </div>

        <div class="data-container">
            <p id="speed">Acceleration: NULL</p>
            <p id="rota">Gyroscope: NULL</p>
            <p id="temp">Temperature: NULL</p>
            <p id="humid">Humidity: NULL</p>
        </div>

    </div>
    <script>
        const ws = new WebSocket('ws://192.168.0.174:8080');

        ws.onmessage = function(event) {
            const data = event.data;
            const dataArray = data.split(";");

            document.getElementById("speed").innerHTML = "Acceleration:" + dataArray[0];
            document.getElementById("rota").innerHTML = "Gyroscope: " + dataArray[1];
            document.getElementById("temp").innerHTML = "Temperature: " + dataArray[2] + "°C";
            document.getElementById("humid").innerHTML = "Humidity: " + dataArray[3] + "%";
        };

        function send(num){
            ws.send(num);
            console.log(num);
        };

        function getData() {
            ws.send("20:0");

        };

        setInterval(getData, 5000);

    </script>
</body>
</html>
