<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href='../static/style.css'/>
    <title>Raspberry Pi Dashboard</title>
</head>
<body>
    <div class="header"><h1>Rover Dashboard</h1></div>
    <div class="col-lg-8  offset-lg-2">
        <img src="{{ url_for('videoStream') }}" width="25%">
    </div>
    <input type="button" value="button1" onclick="send(1)">
    <input type="button" value="button2" onclick="send(2)">
    <input type="button" value="button3" onclick="send(3)">
    <input type="button" value="button4" onclick="send(4)">
    <input type="button" value="button5" onclick="send(5)">
    <script>
        const ws = new WebSocket('ws://192.168.1.5:8080');
        function send(num){
            ws.send(num);
            console.log(num);
        }
    </script>
</body>
</html>
